
@media only screen and (max-width: 1199px){
    .banner{
        height: 100vh;
    }
    .gallery .g_pics{
        grid-gap: 30px 30px;
    }
    .city .image:before{
        width: 78%;
        bottom: -8%;
        top: 6%;
        left: 13%;
    }
    .gallery .g_pics .pic_item button{
        margin-top: 10%;
    }
    .gallery .g_pics .pic_item p{
        margin-top: 2%;
    }
    .city .cnt h3{
        padding-top: 5%;
    }
    .city .cnt button{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 991px){
    .navigation .logo img{
        width: 80%;
    }
    .navigation .menubar ul li{
        margin-right: 15px;
    }
    .navigation .menubar ul li a{
        font-size: 16px;
    }
    .navigation .menubar ul li a > i{
        font-size: 16px;
    }
    .banner{
        height: 70vh;
    }
    .banner .overlay .content h2{
        font-size: 60px;
    }
    .banner .overlay .content h3{
        font-size: 60px;
    }
    .banner .overlay .content h4{
        font-size: 15px;
        margin-top: 3%;
    }
    .banner .overlay .content button{
        padding: 15px 15px;
    }
    .gallery .g_pics{
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .gallery .heading form i{
        right: 18%;
    }
    .gallery .g_pics .pic_item{
        height: 380px;
    }
    .gallery .g_pics .pic_item p{
        font-size: 14px;
        margin-top: 2%;
    }
    .gallery .g_pics .pic_item button{
        width: 115px;
        height: 35px;
        line-height: 30px;
        font-size: 12px;
        margin-top: 10%;
        background: #ffc74a;
        color: #666;
    }
    .gallery .g_pics .pic_item .img_item{
        height: 160px;
    }
    .city h2{
        padding-top: 20px;
    }
    .city .cnt h3{
        font-size: 26px;
        padding-top: 5%;
    }
    .city .cnt p{
        padding-right: 30px;
        margin: 15px 0;
        line-height: 25px;
    }
    .city .cnt{
        display: block;
        width: 100%;
    }
    .city .cnt button{
        margin: auto;
        display: block;
        margin-top: 35px;
    }
    .city .image{
        display: block;
        width: 100%;
        margin: 7% auto;
        text-align: center;
    }
    .city .image img{
        width: 65%;
    }
    .city .image:before{
        width: 63%;
        bottom: -7%;
        top: 6%;
        left: 13%;
    }
    .sign{
        margin-top: 60px;
    }
    .sign .text h2{
        font-size: 60px;
    }
    .sign .text button{
        width: 110px;
        height: 40px;
    }
    .sign .text p{
        margin-top: 25px;
    }
    .footer .contents p{
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px){
    .navigation .menu{
        display: block;
        margin: auto;
        text-align: center;
    }
    .navigation .menu .logo{
        width: 100%;
        justify-content: center;
        margin-top: 2%;
    }
    .navigation .menubar{
        width: 100%;
        line-height: 50px;
        height: 50px;
    }
    .navigation .menubar ul{
        text-align: center;
    }
    .navigation .logo img{
        width: 70%;
    }
    .banner .overlay .content h2{
        font-size: 40px;
    }
    .banner .overlay .content h3{
        font-size: 40px;
    }
    .banner .overlay .content h4{
        font-size: 14px;
        margin: 5px 0;
    }
    .banner .overlay .content{
        top: 60%;
    }
    .banner .overlay .content button{
        padding: 6px 10px;
        font-size: 12px;
    }
    .gallery{
        margin-top: 50px;
    }
    .gallery .heading h2{
        font-size: 26px;
    }
    .gallery .heading form input{
        height: 45px;
        margin-top: 35px;
    }
    .gallery .heading form i{
        top: 61%;
        right: 18%;
    }
    .gallery .g_pics{
        grid-template-columns: auto auto;
        grid-gap: 10px;
        justify-content: center;
    }
    .gallery .g_pics .pic_item{
        height: 340px;
    }
    .gallery .g_pics .pic_item h2{
        font-size: 26px;
        margin-top: 20px;
    }
    .gallery .g_pics .pic_item p{
        font-size: 13px;
        margin-top: 2%;
    }
    .gallery .heading form input{
        width: 80%;
        border: 1px solid #999; 
    }
    .gallery .g_pics .pic_item button{
        width: 115px;
        height: 35px;
        line-height: 30px;
        font-size: 12px;
        margin-top: 10%;
        background: #ffc74a;
        color: #666;
    }
    .gallery .heading .option1{
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 5%;
    }
    .gallery .heading .option2{
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 5%;
    }
    .city h2{
        padding-top: 0px;
        font-size: 26px;
    }
    .city .cnt{
        display: block;
        width: 100%;
    }
    .city .cnt button{
        margin: auto;
        display: block;
    }
    .city .image{
        display: block;
        width: 100%;
        margin: 5% auto;
        text-align: center;
    }
    .city .image img{
        width: 65%;
    }
    .city .image::before{
        width: 63%;
        bottom: -7%;
        top: 6%;
        left: 13%;
    }
    .sign{
        margin-top: 50px;
        height: 325px;
    }
    .sign .text h2{
        font-size: 45px;
    }
    .sign .text button{
        width: 95px;
        height: 35px;
        font-size: 13px;
        margin-top: 10px;
    }
    .sign .text p{
        margin-top: 15px;
    }
    .footer{
        height: 140px;
    }
    .footer .contents img{
        width: 5%;
    }
    .footer .contents p{
        font-size: 13px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 575px){
    .gallery .g_pics{
        grid-template-columns: auto;
        grid-gap: 10px 0;
        justify-content: center;
    }
    .navigation .menubar ul li{
        margin-right: 10px;
    }
    .navigation .menubar ul li a{
        font-size: 14px;
    }
    .banner{
        height: 90vh;
    }
    .banner .overlay .content button{
        padding: 9px 8px;
        font-size: 8px;
    }
    .banner .overlay .content button:hover{
        display: none;;
    }
    .gallery .heading .option1{
        display: block;
        width: 100% ;
        margin: auto;
            margin-top: auto;
        margin-top: 10%;
    }
    .gallery .heading .option2{
        display: block;
        width: 100%;
        margin: auto;
        margin-top: auto ;
        margin-top: 10%;
    }
    .banner .overlay .content h2{
        font-size: 30px;
        margin-bottom: 10%;
    }
    .banner .overlay .content h4{
        font-size: 11px;
    }
    .banner .overlay .content h3{
        font-size: 29px;
    }
    .gallery{
        margin-top: 40px;
    }
    .gallery .heading form input{
        width: 80%;
        border: 1px solid #999;
        height: 35px;
        margin-top: 25px;
    }
    .gallery .heading form i{
        top: 57% ;
        right: 16%;
    }
    .gallery .g_pics .pic_item button{
        line-height: 32px;
        margin-top: 10%;
        background: #ffc74a;
        color: #666;
    }
    .gallery .heading h2{
        font-size: 24px;
    }
    .gallery .heading form input[placeholder]{
        font-size: 14px;
    }
    .gallery .heading .option1 a:hover,.gallery .heading .option2 a:hover{
        display: none;
    }
    .sign .text h2{
        font-size: 30px;
    }
    .sign{
        margin-top: 40px;
        height: 280px;
    }
    .sign .text button{
        height: 30px;
    }
    .city .image:before{
        width: 61%;
    bottom: -10%;
    top: 8%;
    left: 11%;
    }
    .footer{
        height: 100px;
    }
    .footer .contents img{
        width: 4%;
    }
    .footer .contents p{
        font-size: 12px;
        margin-top: 0px;
    }
}
